<html lang="en">
  <style>
    h1 {
        text-align: center;
        font-family: Verdana, serif;
        font-weight: bolder;
    }
  </style>
  <body>
    <h1>You don't have any data!</h1>
  </body>
</html>